
body{
background: #FFFFFF
}
hr {
  height: 7px;
  background-color: #000000;
}
/* start the css for top nav bar */
.topnav {
  overflow: hidden;
  background-color: #F1B82D;
  font-family: 'Bitter' serif;
  position: inherit;
  margin-bottom: 0;
}
.topnav a {
  float: left;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
    float: left;
    overflow: visible;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 14px 16px;
    background-color: #F1B82D;
    font-family: inherit;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
  }

  .topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #000000;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c4c4c4;
  width: 100%;
  height: 100%;
}
.dropdown-content a {
  float: none;
  color: #900000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* end css for top nav bar */
/* start fonts, needs fixing */

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #1C5E90;
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #F1B82D;
  text-align: center;
  font-size: 16px, 1em;
}

h3 {
  font-family: 'Bitter', serif;
  text-align: center;
  color: #900000;
  font-size: .5em'
}

a {
  color: #FFFFFF;
}
a:hover {
  cursor: pointer;
}

/* end fonts */

/* start index css */

.myslides {
  display: none;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.picgal {
  width: 20%;
  position: relative;
  margin: auto;
}
.picgal > img {
  width: 25%
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;}



/* end index css */
/* start grad plan css */

.grad > img {
  display: inline-block;
  margin-left: 37.5%;
  width: 25%;
  height: 25%;
}

#score > h2 {
  color: #000000;
}

.quiz {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
}

form {
  margin: 2rem;
  box-sizing: border-box;
  border: 10px solid #F1B82D;
  padding: 1rem 2rem 2rem 2rem;
}

.shadow {
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.answers {
  text-align: center;
  font-size: 1.6rem;
  padding: 5px;
  margin: 5px;
}

.answers span {
  font-weight: bold;
  text-decoration: underline;
}

#submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #F1B82D;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  bottom: 15%;
  width: 30%;
  margin-left: 20%;
  }
#submit:hover {
    background-color: #c4c4c4
    color: #000000;
  }
#submit:active {
  background-color: #c4c4c4;
  color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#grad {
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}
/* end grad plan css */
/* start Extracurricular css */

.group-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.group-links > div {
  background-color: #1C5E90;
  border: 1px solid;
  border-color: #000000;
  text-align: center;
  font-family: 'Bitter', serif;
  font-size-adjust: auto;
  margin: 20px;
  color: #F1B82D;
  height: auto;
  width: calc(100% * (1/3) - 10px - 1px);
}

.grouplinkitemV{ padding: 30px;
  }
.grouplinkitemCM {
    padding: 30px;
  }
.grouplinkitemKB {
    padding: 30px;
  }
.grouplinkitemMBA {
    padding: 30px;
  }
.grouplinkitemKO  {
    padding: 30px;
  }
.grouplinkitemMA  {
    padding: 30px;
  }
.submitgroup {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    color: #F1B82D;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    bottom: 15%;
    width: 40%;
    margin-left: 30%;
    }
  .submitgroup:hover {
      background-color: #c4c4c4
      color: #000000;
    }
  .submitgroup:active {
  background-color: #c4c4c4;
  color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

/* end Extracurricular css */
/* start journalismclasses css */

.jclassgrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto ;
}

.jclassitem {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  grid-row-gap: 5px;
  background-color: #900000;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;

  padding-right: 5px;
  line-height: 150%;
}
.jclassdescript1 {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  background-color: #FFFFFF
  color: #000000;
  padding: 25px;
}
.jclassdescript2 {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  background-color: #FFFFFF
  color: #000000;
  padding: 25px;
}
.jclassdescript3 {
  grid-row: 3 / 4;
  grid-column: 2 / 5;
  background-color: #FFFFFF
  color: #000000;
  padding: 25px;
}



/* end journalismclasses css */
/* start elective css */

.electiveflex {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.electiveflex > div > h3{
  color: #000000;
}


.area1 {
  background-color: #1C5E90;
  border: none;
  color: #F1B82D;
  align-content: center;
  height: auto;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.area2 {
  background-color: #F1B82D;
  border: none;
  color: #1C5E90;
  align-content: center;
  height: auto;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.area3 {
  background-color: #1C5E90;
  border: none;
  color: #F1B82D;
  align-content: center;
  height: auto;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
  .area4 {
    background-color: #F1B82D;
    border: none;
    color: #1C5E90;
    align-content: center;
    height: auto;
    text-align: center;
    margin: 10px;
    padding: 10px;}

/* end elective css */



footer {
  background-color: #F1B82D;
  margin-top: 20px;
  position: sticky;
  bottom: 0%;
  width: 100%;
  height: 10%;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  clear:none;
}
.disclaimer {
  font-size: 8px;
  width:200px;
}

@media screen and (min-width: 768px) {

.dropdown-content {
  max-width: 160px;
  max-height: 250px;
  z-index: 1;
}
}

.quiz > form {
  width: 45%;
}

.electiveflex {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.jclassitem {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #900000;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;

  padding-right: 20px;
  line-height: 150%;
