body{
background: #FFFFFF
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #1C5E90;
  text-align: center;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #F1B82D;
  text-align: center;
}

h3 {
  font-family: 'Bitter', serif;
  text-align: center;
  color: #900000;
}

footer {
position: absolute;
}
