body{
background: #FFFFFF
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #1C5E90;
  text-align: center;
}

h2 {
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-family: 'Bitter' serif;
  text-align: center;
  color: #000000;
}
