html {
min-width: 550px;
position: relative;
}
body{
background: #FFFFFF
}
/* start the css for top nav bar */
.topnav {
  overflow: hidden;
  background-color: #F1B82D;
  font-family: 'Bitter' serif;
}
.topnav a {
  float: left;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 14px 16px;
    background-color: #F1B82D;
    font-family: inherit;
    margin: 0;
  }

  .topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #000000;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c4c4c4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #900000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* end css for top nav bar */
/* start fonts, needs fixing */

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #1C5E90;
  text-align: center;
  font-size: 3.5em;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #F1B82D;
  text-align: center;
  font-size: 2em;
}

h3 {
  font-family: 'Bitter', serif;
  text-align: center;
  color: #900000;
  font-size: 16px, 1em;
}

/* end fonts */

/* start index css */

.image-placeholder {
    background-color: #eee;
    display: flex;
    justify-content: center;
    height: 180px;
    margin: 5px;
    width: 260px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

/* end index css */
/* start grad plan css */

.grad-gallery {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin: 5px;
  width: 260px;
}

.grad-gallery > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}

/* end grad plan css */
/* start Extracurricular css */

.group-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.group-links > div {
  background-color: #1C5E90;
  border: 1px solid;
  border-color: #000000;
  text-align: center;
  font-family: 'Bitter', serif;
  font-size-adjust: auto;
  margin: 20px;
  color: #F1B82D;
  height: 50px;
  width: calc(100% * (1/3) - 10px - 1px);
}

.grouplinkitemV{ padding: 30px;
  }
.grouplinkitemCM {
    padding: 30px;
  }
.grouplinkitemKB {
    padding: 30px;
  }
.grouplinkitemMBA {
    padding: 30px;
  }
.grouplinkitemKO  {
    padding: 30px;
  }
.grouplinkitemMA  {
    padding: 30px;
  }
.submitgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #F1B82D;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    bottom: 5%;
    right: 40%;
    width: 20%;
    margin-top: 10px;
    z-index: 0;
  }
  .submitgroup:hover {
      background-color: #c4c4c4
      color: #000000;
    }
  .submitgroup:active {
  background-color: #c4c4c4;
  color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* end Extracurricular css */
/* start journalismclasses css */

.jclassgrid {
  display: grid;
  grid-column: auto auto;
  grid-row: auto auto auto auto
}

.jclassitem {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 30%;
  background-color: #900000;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}
  .requiredcourses {
    flex-basis: 300px
  }
.jclassdescript {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 70%;
  background-color: #FFFFFF
  color: #000000;
}


footer {
  background-color: #F1B82D;
  margin-top: 20px;
  position: absolute;
  bottom: 0%;
  width: 110%;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
}
.disclaimer {
  width:200px;
}
